<div
  id="shopPopup"
  class="fixed inset-0 flex items-center justify-center bg-black/60 backdrop-blur hidden z-50"
>
  <div
    id="rewardCard"
    class="bg-gray-900 border border-gray-700 p-8 rounded-2xl text-center scale-75 opacity-0 transition-all duration-300"
  >
    <h2 class="text-xl mb-3 text-gray-300">Notification</h2>

    <div id="rewardContent" class="text-2xl font-bold mb-4"></div>

    <button
      onclick="closeShopPopup()"
      class="bg-green-500 px-5 py-2 rounded-lg hover:bg-green-600"
    >
      OK
    </button>
  </div>
</div>
